header .container{
  padding-top: 100px;
  padding-bottom: 0;
}

header{
  background: black;
}

section#teamsTable {
  padding-top: 10px;
  background: black;
}

.background{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  opacity: 0.3;
  background-size: cover;
  position: fixed;
  top: 100px;
  bottom:0;
  left: 0;
  right: 0;
}

#teamsTable table, #teamsTable table > thead, #teamsTable table > thead > tr, #teamsTable table > thead > tr > th, #teamsTable table > tbody,
#teamsTable table > tbody > tr, #teamsTable table > tbody > tr > td{
  border-color:white !important;
  color: white !important;
}

#teamsTable .table-hover tbody tr:hover td, #teamsTable  .table-hover tbody tr:hover th {
  background-color: red !important;
  opacity: 0.5;
}

.btn-info, .btn-warning, .btn-danger{
  padding: 1px 6px;
  border-width: 0;
}

form > p > label {
    color: white;
}

#form{
    top: 200px;
    position: relative;
    left: 40%;
}

ul.errorlist {
    color: red;
}

.back{
    bottom:0;
    left:0;
    position:fixed;
}

.error{
    position: fixed;
    color: red;
    left: 38%;
    top: 130px;
}
.input-group.date{
    width:20%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}