{% extends "main/base.html" %}
{% block title %} Tabela drużyn {% endblock %}

{%block content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Wybór tabel do edycji</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="teamsTable">
    <div class="container">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>lp.</th>
            <th>tabela</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>KLUBY</td>
            <td><a href="/tables_management_clubs" class="btn btn-info">Wykonaj akcję na tej tabeli</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>MECZE</td>
            <td><a href="/tables_management_games" class="btn btn-info">Wykonaj akcję na tej tabeli</a></td>
          </tr>
        <tr>
            <td>3</td>
            <td>UCZESTNICY MECZU</td>
            <td><a href="/tables_management_members" class="btn btn-info">Wykonaj akcję na tej tabeli</a></td>
          </tr>
        </tbody>
      </table>
    </div>
</section>

{% endblock %}
