{% extends "main/base.html" %}
{% block title %} Dodaj mecz {% endblock %}

{%block content %}
    <section>
        <form action="/tables_management_games_add" method="post" id="form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Zatwierdz" />
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <a class="btn btn-primary back" href="/tables_management_games">Powróć do poprzedniej strony</a>
    </section>
{% endblock %}
