{% extends "main/base.html" %}
{% block title %} Edytuj uczestnika {% endblock %}

{%block content %}
    <section>
        <form action="" method="post" id="form">
            <label for="id_member" style="color:white">Uczestnik:</label>
            <input type="text" id="id_member" name="member" disabled value="{{my_member.member.surname}} {{my_member.member.name}}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Zatwierdz" />
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <a class="btn btn-primary back" href="/tables_management_members">Powróć do poprzedniej strony</a>
    </section>
{% endblock %}